body {
  background-color: #e26147;
  margin: 0% 5% 5%;
  font-family: serif;
}

#nav {
  background-color: #9d1d11 ;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: left;
}

nav a {
  padding: 10px;
}

h1.title {
  text-align: center;
  font-size: 2.5em;
  text-transform: lowercase;
  /*Make element glued to the screen */
  /* position: fixed; */
  /*make it relative to my viewport.The rest of the page is relative to the document, not the viewport*/
}

h1.title:hover {
  font-size: 40px;
  font-style: italic;
  color: #fbdad8;
}

section, footer {
  background-color: #f6b6b0;
  padding: 1% 3% 3%;
  margin: 3%;
  border: 4px solid #b72214;
}

h2 {
  font-size: 2em;
  text-align: left;
  font-style: italic;
  color:#b72214;
}

.favorites h3::before{
  content: "☑️"
}

.least-favorites h3::before{
  content: "👎"
}

img {
  border-radius: 50%;
  border: 3px solid #b72214;
  width: 200px;
}

#footer {
  padding: .5em;
}

.container {
  display: flex;
  /*flex-direction: row always the default*/
  flex-direction: row;
  /* flex-wrap allows you to avoid a horizontal scrow bar, rather it wraps the elements as the screen changes size. */
  flex-wrap: wrap;
  justify-content: space-evenly;
}
